extends layout

block body
  .webtorrent-desktop-hero
    h1(align='center')
      img(src='/img/WebTorrent.png', alt='Popcorn', width='200', height='200')
      br
      | Popcorn Desktop
    h2(align='center') Streaming torrent app

    include includes/desktop-download-links

  .webtorrent-desktop
    .feature-block.center
      article
        h2 Popcorn Desktop is for streaming torrents.
        img(src='/img/screenshot-player2.png', alt='Popcorn Desktop - Player with controls')
        p
          | Whether it's video from the
          = ' '
          a(href='https://archive.org') Internet Archive
          | , music from
          = ' '
          a(href='https://creativecommons.org/music-communities/') Creative Commons
          | , or audiobooks from
          = ' '
          a(href='https://librivox.org/') Librivox
          | , you can play it right away. You don't have to wait for it to finish downloading.
    .feature-block
      article
        img.image-left(src='/img/network.png', alt='Popcorn - network of peers')
        h3 Popcorn Desktop connects to both BitTorrent and WebTorrent peers.
        p
          | It can talk to peers running
          = ' '
          a(href='https://www.transmissionbt.com/') Transmission
          |  or
          = ' '
          a(href='http://www.utorrent.com/') uTorrent
          | , and it can also talk to web pages like
          = ' '
          a(href='https://instant.io') instant.io
          | .
    .feature-block
      article
        img.image-right(src='/img/screenshot-main.png', alt='Popcorn Desktop - Main list of torrents')
        h3 Popcorn Desktop is in beta.
        p
          | We think it's pretty sweet, but we're still working on it. Try it out and let us know what you think!
        h3 It's also 100% open source.
        p
          | All the source code is on
          = ' '
          a(href='https://github.com/datnguyencse/popcorn-desktop-vn') Github
          | . If you run into a bug, please tell us about it by creating an
          = ' '
          a(href='https://github.com/datnguyencse/popcorn-desktop-vn/issues') issue
          | .
    .feature-block
      article
        h2 Features
        ul
          li
            strong Lightweight, fast torrent app
          li
            strong Beautiful user experience
          li
            strong Free, non-commercial, ad-free, and <a href="https://github.com/datnguyencse/popcorn-desktop-vn">open source</a>
          li
            strong Instantly stream video and audio
            ul
              li Popcorn fetches file pieces from the network on demand for instant playback.
              li
                | Even when the file isn't fully downloaded, seeking still works.
                br
                | (Seeking just reprioritizes which pieces are fetched from the network.)
          li
            strong Stream videos to AirPlay, Chromecast, and DLNA
          li
            strong
              | Based on the most popular and comprehensive torrent package in Node.js,
              = ' '
              a(href='https://www.npmjs.com/package/webtorrent')
                code webtorrent
          li
            strong Full-featured, but bloat free
            ul
              li Opens magnet links and .torrent files
              li Drag-and-drop makes adding or creating torrents easy
              li Discovers peers via tracker servers, DHT (Distributed Hash Table), and peer exchange
              li Supports the Popcorn protocol for connecting to WebRTC peers (i.e. web browsers)

    .feature-block
      article
        img(src='/img/screenshot-player3.png' alt='Popcorn Desktop - stream torrents')
        h1.minimal Give Popcorn Desktop a try today!
        include includes/desktop-download-links

  script.
    var $downloadLinks = Array.from(document.querySelectorAll('a.download'))
    $downloadLinks.forEach(function ($link) {
      $link.addEventListener('click', function () {
        console.log('Download link clicked!')
        window.ga('send', 'event', 'app', 'download')
      })
    })
